<h1>ALL ANIMALS</h1>


<div class = "page-container">
    <% for animal in @animals %>


    <a href= "/animals/<%= animal.id %>"> 
      <img src="<%= animal.animal_pic %>" class ="icons-content" />
    </a>
    <% end %>
  </div>
