<h1>New Animal</h1>

<form action = "/animals" method= "post">
<label>
  Pet name:
  <input type = "text" name="animal_name"/>
</label>

<label>
  Species:
  <input type="text" name="species" />
</label>

<label>
  Adoption status:
  <input type="text" name="adoption_status"  />
</label>

<label>
  Admission date: 
  <input type="date" name="admission_date" />
</label>

<label>
  Estimated ready for adoption date:
  <input type="date" name="ready_by_date"/>
</label>

<label>
  Extra information:
  <input type="text" name="details"/>
</label>

<label>
  Animal picture:
  <input type="text" name="animal_pic" />
</label>

<input type ="submit" value= "Submit new entry!" />
</form>