<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/animal_all.css">
  <link rel="stylesheet" type="text/css" href="/styles/general-page-structure.css">
  <link rel="icon" type="image/png" href="/imgs/icon.png">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">

  <title>John's Animal Shelter</title>
</head>
<body>

  <div id = "banner"></div>

  <nav>
    <p>
      <div class = "dropdown">
        <button class ="dropbtn"></button>
      </div>
      <div class = "dropdown">
        <button class ="dropbtn">Our Animals</button>
        <div class ="dropdown-content">
          <ul>
            <li><a href="\animals">All animals</a></li>
            <li><a href="\animals\new">Create Animal</a></li>
          </ul>
        </div>
      </div>
      <div class = "dropdown">
        <button class ="dropbtn">Our Owners</button>
        <div class ="dropdown-content">
          <ul>
            <li><a href="\owners">All owners</a></li>
            <li><a href="\owners\new">Create Owner</a></li>
          </ul>
        </div>
      </div>
      <div class = "dropdown">
        <button class ="dropbtn">Adoption</button>
        <div class ="dropdown-content">
          <ul>
            <li><a href="\adoptions">All</a></li>
            <li><a href="\adoptions\new">New adoption</a></li>
          </ul>
        </div>
      </div>

    </p>
  </nav>
  <div class = "main-container">
    <div class="sort-by-container"> 
      <ul>
      <li><a href="/animals/order">Recently admitted</a></li>
      <img src="/imgs/cat_face.svg" width="50%" />
      <li><a href="/animals/order_species">Order by species!</a></li>
      <li><a href="/animals/order_adopt_status">See all adoptable pets</a></li>
      <li><a href="/animals/order_not_adoptable_status">See all non-adoptable pets</a></li>
      <img src="/imgs/cat_face.svg" width="50%" />
      <li><a href="/animals/cats">See all cats!</a></li>
      <li><a href="/animals/dogs">See all dogs!</a></li>
      </ul>
    </div>


  <div class= "main">
    <%= yield %>
  </div>
</div>
</body>
</html>