

/*
PET ID page 
*/

/* pet pic */

.pet-img-container {
  display:flex;
  justify-content: center;
}

/* Pet bio/info */

.pet-info-container {
  width:75%;
  display: flex;
  flex-direction: row;
  margin:1% auto 1%;
  padding-bottom:25px;
  padding-top:10px;
}

.pet-info-container > div {
  flex:2 1 auto;
  margin:5px; 
}

.pet-details-container {
  max-width:75%;
  background: #FFF;
  min-height:200px;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius:25px;
}

.pet-details-container p {
  padding:5px 10px 0px 20px;
  font-family:'Asap',sans-serif;
}

.pet-details-container p:nth-child(odd){
  color: steelblue;
}

#countdown-and-btns {
  padding-bottom: 10px;
  min-height: 100px;
  background: #fff;
  border-radius:25px;
  font-size: 1em;
  font-family: 'Asap', sans-serif;
  color: tomato;
  text-align:center;
}

#countdown-and-btns h1 {
  padding:5px 0px 0px 0px ;
  font-size:5em;
  font-family:'Asap',sans-serif;
  text-align:center;
}

#countdown-and-btns p {
  margin-top: -10px;

}